﻿.navbarBackground {
    background-color: #0E76A8;
    border-color: #0E76A8;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: #006591;
    border-color: #006591;
}

.nav.navbar-nav li a {
    color: #c9c5c5;
    background-color: #0E76A8;
}

.navbar-inverse .navbar-text {
    color: #c9c5c5;
}

.navbar-inverse .navbar-nav > li > a {
    color: #c9c5c5;
}

.dropdown-menu {
    padding: 0px;
}
