﻿<div style="height: 230px; width: auto; margin-bottom: 140px;">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Content/image/Shared/1.jpg" alt="Los Angeles" style="height: 350px; width: -webkit-fill-available">
            </div>
            <div class="item">
                <img src="~/Content/image/Shared/2.jpg" alt="Chicago" style="height: 350px; width: -webkit-fill-available">
            </div>
            <div class="item">
                <img src="~/Content/image/Shared/3.jpg" alt="New York" style="height: 350px; width: -webkit-fill-available">
            </div>
        </div>
    </div>
</div>

<a class="left carousel-control" href="#myCarousel" data-slide="prev" style="height: 400px;">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#myCarousel" data-slide="next" style="height: 400px;">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
</a>
