﻿<footer id="sticky-footer" class="py-4 bg-dark text-white-50" style="background-color: #0E76A8; height:70px; opacity:0.9;">
    <div class="container text-center" style="color: #cbcbcb">
        <small>Copyright Bartosz Niedźwiecki</small>
    </div>
</footer>