﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/MvcGrid/mvc-grid.css")
    @Styles.Render("~/Content/css/common.css")

    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-3.3.1.js")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
    @Scripts.Render("~/Scripts/app/views/shared/showPopupRegister.js")
    @Scripts.Render("~/Scripts/app/views/shared/showPopupLogin.js")
    @Scripts.Render("~/Scripts/app/views/cart/index/index.js")

</head>
<body>
    @Html.Partial("~/Views/Shared/_Message.cshtml")

    @Html.Partial("~/Views/Shared/_Navbar.cshtml")

    @Html.Partial("~/Views/Shared/_CarouselSlide.cshtml")

    <div class="body-content">
        @RenderBody()
        <hr />
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")

    @Scripts.Render("~/Scripts/MvcGrid/mvc-grid.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
            new MvcGrid(element);
        });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
