﻿@if (TempData["TemporaryMessage"] != null)
{    
    @Scripts.Render("~/Scripts/app/views/shared/showPopupMessage.js")
}

<div id="modalMessage" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content @TempData["TemporaryType"]" style="background-color: #a2c9db; ">
            <div class="modal-header @TempData["TemporaryType"]" role="alert">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Informacja</h4>
            </div>
            <div class="modal-body">
                <h3>@TempData["TemporaryMessage"]</h3>
            </div>
        </div>
    </div>
</div>