﻿@Styles.Render("~/Content/css/app/shared/navbar.css")

<nav class="navbar navbar-inverse navbar-fixed-top navbarBackground" role="navigation">
    <div class="container-fluid">
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index", "Product")">Strona główna</a></li>
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <li><a href="@Url.Action("Index", "OrderItem")">Zamówienia</a></li>
                }
            </ul>
            @if (HttpContext.Current.User.IsInRole(Project.Web.Infrastructure.Role.AppRoles.Admin))
            {
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "User")">Użytkownicy</a></li>
                </ul>
            }

            @if (HttpContext.Current.User.IsInRole(Project.Web.Infrastructure.Role.AppRoles.Admin))
            {
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Create", "Product")">Dodaj product</a></li>
                </ul>
            }
            <ul class="nav navbar-nav navbar-right">
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <p class="navbar-text">@Html.Label("Witaj:")</p>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                            @HttpContext.Current.User.Identity.Name
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Edit", "User")">Edytuj <span class="glyphicon glyphicon-edit"></span></a></li>
                            <li><a href="@Url.Action("Logout", "User")">Wyloguj <span class="glyphicon glyphicon-log-out"></span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" type="button" id="modalCartButton">Koszyk <span class="glyphicon glyphicon-shopping-cart"></span></a>
                        <div class="modal fade" id="modalCart" role="dialog" data-url="@Url.Action("Index", "Cart")"></div>
                    </li>
                }
                else
                {
                    <li>
                        <a href="#" type="button" id="modalRegisterButton">Rejestracja <span class="glyphicon glyphicon-registration-mark"></span></a>
                        <div class="modal fade" id="modalRegister" role="dialog" data-url="@Url.Action("Register", "User")"></div>
                    </li>
                    <li>
                        <a href="#" type="button" id="modalLoginButton">Logowanie <span class="glyphicon glyphicon-log-in"></span></a>
                        <div class="modal fade" id="modalLogin" role="dialog" data-url="@Url.Action("Login", "User")"></div>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>