﻿@model IEnumerable<Project.Web.ViewModels.Category.CategoryIndexViewModel>
@{
    ViewBag.Title = "Index2";
}

@Scripts.Render("~/Scripts/app/views/category/index/index.js")
@Styles.Render("~/Content/css/app/category/index.css")

<div class="container">
    <div class="col-md-3">
        <div id="left" class="span3">
            <ul class="nav menu">
                @foreach (var item in Model)
                {
                    <li class="item-1 parent active">
                        <a class="" href="@Url.Action("Index", "Product", new {categoryId = item.Id })">
                            <span data-toggle="collapse" href="#@item.Name" class="sign"><i class="glyphicon-plus"></i></span>
                            <span class="lbl">@item.Name</span>
                        </a>
                    </li>
                    if (item.Children.Any())
                    {
                        @CreateTree(item);
                    }
                }
            </ul>
        </div>
    </div>
</div>

@helper CreateTree(Project.Web.ViewModels.Category.CategoryIndexViewModel item)
{
    <ul class="children nav-child unstyled small collapse" id="@item.Name">
        @foreach (var itemChildren in item.Children)
        {
            if (itemChildren.Children.Any())
            {
                <li class="item-1 parent active">
                    <a class="" href="@Url.Action("Index", "Product", new {categoryId = itemChildren.Id })">
                        <span data-toggle="collapse" href="#@itemChildren.Name" class="sign"><i class="glyphicon-plus"></i></span>
                        <span class="lbl" style="color: #51c3eb">@itemChildren.Name</span>
                    </a>
                </li>
            }
            else
            {
                <li class="item-1">
                    <a class="" href="@Url.Action("Index", "Product", new {categoryId = itemChildren.Id })">
                        <span data-toggle="collapse" href="#@itemChildren.Name" class="sign"><i class="glyphicon-plus"></i></span>
                        <span class="lbl" style="color: #51c3eb">@itemChildren.Name</span>
                    </a>
                </li>
            }

            if (itemChildren.Children.Any())
            {
                @CreateTree(itemChildren);
            }
        }
    </ul>
}