﻿@model Project.Web.ViewModels.Product.ProductDetailsViewModel
@{
    ViewBag.Title = "Details";
}

@Styles.Render("~/Content/css/app/product/details.css")
@Scripts.Render("~/Scripts/app/views/product/details/details.js")

@using (Html.BeginForm("Create","Cart", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.Id)

    <div class="container">
        <div class="row">
            <div class="col-md-6 image">
                <img src="@Model.Path.Remove(0, Model.Path.IndexOf(@"\Content"))"
                     style="height: 100%; width: 100%; object-fit: contain">
            </div>
            <div class="col-md-6">
                <div class="row col-lg-10 col-xs-offset-1 title">
                    @Model.Name
                </div>
                <div class="row col-lg-10 col-xs-offset-1 count">
                    <h2>
                        Pozostało: @Model.Count sztuk
                    </h2>
                </div>
                <div class="row col-lg-10 col-xs-offset-1">
                    <div class="col-md-7 ">
                        <div class="row">
                            @Html.LabelFor(model => model.BuyQuantity, htmlAttributes: new { @class = "control-label h3" })
                        </div>
                        <div class="row ">
                            <button id="btnPlus" type="button" class="btn btn-success btn-number">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            @Html.EditorFor(model => model.BuyQuantity, new { htmlAttributes = new { @class = "col-md-3 form-control buyQuantity" } })
                            <button id="btnMinus" type="button" class="btn btn-danger btn-number">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>

                        </div>
                        <div class="row">
                            @Html.ValidationMessageFor(model => model.BuyQuantity, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <div class="row col-lg-10 col-xs-offset-1">
                        <input type="submit" value="Dodaj do koszyka" class="btn-addCard" />
                    </div>
                }
            </div>
        </div>
        <div class="row menu">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label h3" })
            </div>
        </div>
        <div class="row h3">
            @Html.DisplayTextFor(model => model.Description)
        </div>
    </div>
}
