﻿@model IEnumerable<Project.Web.ViewModels.Product.ProductIndexRowViewModel>
@{
    ViewBag.Title = "Index";
}
@{ var count = 1; }

<div class="row">
    <div class="col-md-3">
        @Html.Action("Index", "Category")
    </div>

    <div class="col-md-8 ">
        <div class="row">
            @foreach (var item in Model)
            {
                if (count % 3 == 0)
                {
                    @:<div class="row">
                }
                <div class="col-lg-4 col-sm-6">
                    <div class="card h-100">
                        <img class="card-img-top"
                                src="@item.PathResize.Remove(0,item.PathResize.IndexOf(@"\Content"))"
                                alt=""
                                style="height: 100%; width: 100%; object-fit: contain">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="@Url.Action("Details", new { id = item.Id})">@item.Name</a>
                            </h4>
                        </div>
                    </div>
                </div>
                if (count % 3 == 0)
                {
                    @:</div>
                }
                count++;
            }
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/app/views/product/index/index.js")