﻿@model Project.Web.ViewModels.User.UserEditByAdminViewModel


@Scripts.Render("~/Scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")


<div class="container">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="text-center">
                    <h3>
                        <b>@Html.Label("Edycja użytkownika")</b>
                    </h3>
                </div>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("EditByAdmin", "User", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group col-md-8 col-xs-offset-3">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-8 col-xs-offset-3">
                        @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-8 col-xs-offset-3">
                        @Html.LabelFor(model => model.UserRole, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-9">
                            @Html.EnumDropDownListFor(model => model.UserRole, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UserRole, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-8 col-xs-offset-3">
                        @Html.LabelFor(model => model.UserStatus, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-9">
                            @Html.EnumDropDownListFor(model => model.UserStatus, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UserStatus, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group margin-left20">
                        <div class="row center-block">
                            <div class="col-xs-2 col-md-offset-3">
                                <button id="submit" name="button" class="btn btn-primary">Edytuj</button>
                            </div>

                            <div class="col-xs-2">
                                <button type="button" class="btn btn-warning" data-dismiss="modal">Zamknij</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>