﻿@model IEnumerable<Project.Web.ViewModels.User.UserIndexRowViewModel>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add().RenderedAs((model,row) => row +1).Titled("Lp");
        columns.Add(model => "<a href='#' type='button' id='showPopupEditByAdminss' onclick='return showPopupEditByAdmin(\"" + model.Id + "\")'>Edytuj </a>").Encoded(false);
        columns.Add(model => model.Id).Titled("Id");
        columns.Add(model => model.Name).Titled("Imię");
        columns.Add(model => model.Surname).Titled("Nazwisko");
        columns.Add(model => model.Email).Titled("Email");
        columns.Add(model => model.UserRole).Titled("Rola");
        columns.Add(model => model.UserStatus).Titled("Status");
        columns.Add(model => model.InsertTime).Titled("Data dodania");
    })
    .UsingFilterMode(GridFilterMode.Header)
    .Empty("Brak danych")
    .Filterable()
    .Sortable()
    .Pageable(pager =>
    {
        pager.PageSizes = new Dictionary<int, string> { { 0, "Wszystkie" }, { 5, "5" }, { 10, "10" }, { 20, "20" } };
        pager.ShowPageSizes = true;
        pager.RowsPerPage = 10;
    })
    .AppendCss("table-hover")
)

<div class="modal fade" id="modalEditByAdmin" role="dialog" data-url="@Url.Action("EditByAdmin", "User")" />