﻿@model Project.Web.ViewModels.User.UserLoginViewModel

@Scripts.Render("~/Scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")

<div class="container">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="text-center">
                    <h3>
                        <b>@Html.Label("Logowanie")</b>
                    </h3>
                </div>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Login", "User", FormMethod.Post, new { }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group col-sm-8 col-xs-offset-3">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-sm-8 col-xs-offset-3">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Hasło", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="row center-block">
                            <div class="col-xs-4 col-md-offset-3">
                                <button id="submit" name="button" class="btn btn-primary">Zaloguj</button>
                            </div>

                            <div class="col-xs-4">
                                <button type="button" class="btn btn-warning" data-dismiss="modal">Zamknij</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

