﻿@model Project.Web.ViewModels.User.UserEditViewModel
@{
    ViewBag.Title = "Edit";
}

<div class="text-center">
    <h2>
        Edycja użytkownika
    </h2>
</div>

@using (Html.BeginForm())
{
    <br />
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <div class="form-horizontal container">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-8 col-md-offset-3 ">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-3 ">
                @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-offset-4point5">
            <div class="form-group ">
                <div class="row col-md-6 ">

                    <div class="col-xs-3">
                        <input type="submit" value="Zapisz" class="btn btn-success" />
                    </div>
                    <div class="col-xs-3">
                        <input type="button" value="Powrót" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Product")'" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
