﻿@model IEnumerable<Project.Web.ViewModels.Cart.CartIndexRowViewModel>

@using (Html.BeginForm("Create", "Order"))
{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Koszyk
                </h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.PathResize)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Count)
                        </th>
                        <th>

                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr id="@item.Id">
                            <td>
                                <img src="@item.PathResize.Remove(0, item.PathResize.IndexOf(@"\Content"))" width="50" height="50" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Count)
                            </td>
                            <td>
                                @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }

                </table>
                <button type="submit" class="btn btn-primary">
                    Zatwierdź
                </button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">
                    Zamknij
                </button>
            </div>
        </div>
    </div>
}