﻿.image {
    height: 500px;
    border: 1px solid #c0c0c0;
}

.title {
    height: 150px;
    font-size: 35px;
    margin-bottom: 25px;
}

.count {
    margin-bottom: 25px;
}

.buyQuantity {
    height: 50px;
    width: 50%;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.btn-number {
    margin-top: 6px;
    margin-left: 6px;
    margin-bottom: 45px;
}

input[type=submit] {
    width: 100%;
    background-color: #f40034;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 500px;
    height: 25%;
}

input[type=submit]:hover {
    background-color: #f40050;
}
.menu {
    margin-top: 50px;
    background-color: #FF9A00;
    color: white;
}
